body{
	background-image: url("img/sect_3.jpg");
	
	background-size: cover;
	margin: 0;
	background-attachment:  fixed;
}	

section{
	height: 100vh;
		background-size: cover;
	position: relative;
	overflow: hidden;
}

.sect_1{
	
	background-size: cover;
	z-index: 0;

	
}
.sect_2{
	background-image: url("img/5_1.png");
	
	/*background-color: #2e3e4e;*/
	
	
	background-repeat: repeat-x;

}
.sect_2 img{
	position: absolute;
	width: 100%;
	top: -300px;


}

.sect_2 .heder_text{
top: 20%;
}



.heder_text{
	background-image: url("img/5_2.png");
	font-family: "Arial";
	font-size: 40px;
	text-transform: uppercase;
	color: #666;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	z-index: 5;
	opacity: 1;
	box-shadow: 9px 9px 5px #5d5757;
}

.heder_img{
	width: 300px;
	height: 300px;
	text-align: left;
	position: absolute;
	top: 50%;
	margin-left: 1%;


}

.main_menu2{
	width: 100%;
	height: 400px;
	background-image: url("img/menu2.png");
	box-shadow: 9px 9px 5px #5d5757;

}

.menu2{
	width: 1000px;
	height: 300px;
	
	
	position: absolute;
	top: 20%;
	right: 30%;
	
	

	
}

.pandawow{
	bottom: 5px;

}
.menu2 .pandawow .pw{
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 11;
	top: 10%;

	margin-left: 20%;
	text-align: left;
	
	


}




.menu2 .wowcircle .pw1{
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 11;
	top: 10%;

	margin-left: 50%;
	opacity: 0.4;
	

}

.menu2 .warmain .pw2{
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 11;
	top: 10%;
	opacity: 0.4;
	margin-left: 80%;

	

}

.menu2 .uwow .pw3{
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 11;
	text-align: right;
	top: 10%;
	margin-left: 110%;
	opacity: 0.4;


}

/*
.sect_3{



	background-color: #2e3e4e;
	background-size: cover;
}
*/



#header {
	position: fixed;
	width: 100%;
	height: 50px;
	left: 0;
	top:0%;
	z-index: 100;
	background-color: #fff !important;
	opacity: 0.8;
	-webkit-transition: all 0,5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
}


.top_mnu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.top_mnu li {
	display: inline-block;
	margin: 20px 20px;
}


.head_none {
	
	opacity: 0;
}


.header_return {
	
	background-color: #fff !important;
	opacity: 0.8;
	height: 30px;
	
	box-shadow: 9px 9px 5px #5d5757;
	text-transform: uppercase;

}